@import 'nib'

body
  font-size 2em
  font-weight 100
  line-height 1.3em
  font-family 'Hevetica Neue Light', 'Hevetica Neue', 'Helvetica', 'Arial', sans-serif

header
  margin-top 30px

section
  margin-top 30px
  padding-top 30px
  
  #todos
    
    relative top -26px left 0
    
    form
      margin-bottom 0
    
    .todo
      
      relative top 0 left 0
      padding-left 30px
      margin-bottom 10px
      
      .controls
        
        absolute top 0 left 0
        margin 0
        padding 0
        width 30px
        
        .check
          color #eee
        
        .cross
          color #ff6666
      
      &:hover
        cursor pointer
        
        &:not(.done)
          .check
            color #bbeebb
      
      &.done
        
        .text
          color #ccc
          text-decoration line-through
        
        .check
          color #66dd66
    
    #count
      color #aaa
      font-size small
      margin-bottom 0

footer
  padding 30px 0
  font-size .75em
  margin-top 30px
  text-align center
  border-top 1px solid #eee
  
  .version
    color #ddd
